.room-category-page{
    background-color:#fff;
}

.roomcategory-icons-container{
}
.roomcategory-icons-container::after{
    content: " ";
    display: table;
    clear: both;
}
.roomcategory-icons-container .roomcategory-icon-column{
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-top:10px;
    margin-bottom:5px;
}

.category-left-column{
    padding-left:20px; 
    padding-right:10px;
}
.category-right-column{
    padding-left:10px;
    padding-right:20px;
}

.room-category-content{
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,.2);
    border-radius:10px;
    overflow: hidden;
}

.roomcategory-link-label img.image-250 {
    width: 100%;
}

.roomcategory-link-label{
    
}

.room-category-label-name{
    font-size: 15px;
    padding:5px;
    color:#4d4d4d; 
}